/* GÉNÉRALES */
* {
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

a {
    color: inherit;
}

.mtb-30 {
    margin: 30px 0;
}

.mtb-20 {
    margin: 20px 0;
}

.mr-30 {
    margin-right: 30px;
}

.mr-15 {
    margin-right: 15px;
}

.m-20 {
    margin: 20px;
}

.ml-10 {
    margin-left: 10px;
}

.mt-5 {
    margin-top: -4px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: -15px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}




/* Version ordinateur */

/* HEADER */


header {
    display: flex;
    align-items: center;
}

.flex-logo {
    flex: 2;
}

.flex-logo img {
    height: 50px;
}

header nav {
    flex: 1;
}

header nav ul {
    text-align: end;
}

header nav ul li { 
    display: inline;
    padding: 0 20px;
    font-size: 15px;
}

header nav ul li:hover {
    border-top: 3px solid #0065FC;
    padding-top: 24px;
}





header, main {
    margin: 0 20px;
}

body {
    min-height: 100vh;
}



/* MAIN */

/* section - "trouvez votre hébergement" */

    /* search bar */

.border-field {
    border: 1px solid #F2F2F2;
    display: inline-flex;
    border-radius: 11px;
    margin: 10px 0;
}

.position-icon {
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 10px 0 0 10px;
}

.text-field {
    border: none;
    margin: 0;
    padding: 10px;
}

.text-field::placeholder {
    font-weight: bold;
}

.btn-search {
    border: none;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}



    /* filter */

.block-filter {
    margin: 10px 0;
    display: flex;
    align-items: center;
}


.button {
    background-color: transparent;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    font-weight: bold;
}

.button:hover {
    background-color: #DEEBFF;
    color: #0065FC;
}

.icon-color {
    color: #0065FC;
    background-color: #DEEBFF;
    margin-left: -5px;
    border-radius: 15px;
    position: relative;
    padding: 10px;
}

.border-size {
    padding: 0 10px 0 0;
}


    /* info */

.i-size {
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 20px 20px;
    padding: 5px 8px 5px 9px;
    font-size: 12px;
}

.inline {
    display: inline;
    font-size: 14px;
}








/* section - hébergements */


    /* 2 bloc gris en flex*/

.block {
    display: flex;
    min-height: 600px;
}

    /* bloc hébergements */


.accomodations {
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-right: 20px;
    padding: 20px;
    flex: 2;
   
}

.row-1 {
    display: flex;
    margin-top: 40px;
}

.block-1 {
    width: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 3px;
    box-shadow: 0px 0px 30px -30px #000000;
}

.block-1:hover {  
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.2);
}

.img1-accomodations {
    background-image: url(/img/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.img2-accomodations {
    background-image: url(/img/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.img3-accomodations {
    background-image: url(/img/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.img4-accomodations {
    background-image: url(/img/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.img5-accomodations {
    background-image: url(/img/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.img6-accomodations {
    background-image: url(/img/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.accomodations-info {
    margin-left: 5px;
}

.border-title {
    margin: 4px 4px 4px 0;
}


.btn-showmore {
    margin-top: 25px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 15px;
    background-color: transparent;
}

.btn-showmore:hover {
    color: #0065FC;
}

















    /* bloc les plus populaires */


/* cartes */

.card {
    background-color: white;
    border-radius: 15px;
    padding: 3px;
    box-shadow: 0px 0px 30px -30px #000000;
}

.card:hover {  
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.2);
}









.trends {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 20px;
    flex: 1;
}

.title-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block2 {
    display: flex;
}


.img1-trends {
    border-radius: 15px 0 0 15px;
    width: 33%;
    height: 120px;
    margin-right: 10px;
    background-image: url(/img/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img2-trends {
    border-radius: 15px 0 0 15px;
    width: 33%;
    height: 120px;
    margin-right: 10px;
    background-image: url(/img/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img3-trends {
    border-radius: 15px 0 0 15px;
    width: 33%;
    height: 120px;
    margin-right: 10px;
    background-image: url(/img/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.block-info-trends {
    width: 67%;
    height: 120px;
}

.p-size {
    font-size: 13px;
}

.star-size {
    font-size: 12px;
}

.star-blue {
    color: #0065FC;
}

.star-gray {
    color: #f2f2f2;
}









/* Activités à Marseille */


.activity-block {
    display: flex;
    justify-content: space-between;
}

.card-width-activity {
    width: 23%;
}

.l-card-activity {
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.2);
}

.l-card-activity:hover {
    box-shadow: 0px 0px 40px -30px #000000;
}

.img1-activity {
    width: 100%;
    height: 350px;
    border-radius: 15px 15px 0 0;
    background-image: url(/img/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img4-activity {
    width: 100%;
    height: 350px;
    border-radius: 15px 15px 0 0;
    background-image: url(/img/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info-activity {
    margin-left: 10px;
    font-weight: bold;
    font-size: 13px;
    padding: 5px;
}


.s-card-activity {
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.2);
}

.s-card-activity:hover {
    box-shadow: 0px 0px 40px -30px #000000;
}

.img2-activity {
    border-radius: 15px 15px 0 0;
    height: 150px;
    background-image: url(/img/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img3-activity {
    border-radius: 15px 15px 0 0;
    margin-top: 50px;
    height: 100px;

    background-image: url(/img/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img5-activity {
    border-radius: 15px 15px 0 0;
    height: 125px;
    background-image: url(/img/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.img6-activity {
    border-radius: 15px 15px 0 0;
    margin-top: 50px;
    height: 125px;

    background-image: url(/img/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}







footer {
    background-color: #F2F2F2;
    padding: 20px 0 20px 40px;
    margin: 0 -10px -10px -10px;
}

footer div {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

footer ul {
    padding: 0; 
}

.fontsize-footer {
    font-size: 13px;
    line-height: 30px;
}










@media (min-width: 769px) and (max-width: 991px) {
    header {
        display: block;
        border-bottom: 2px solid #f2f2f2;
        margin: 0 -9px;
    }

    .flex-logo {
        flex: 1;
        text-align: center;
    }

    header nav ul {
        text-align: center;
        padding: 0;
    }

    header nav ul li:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
        padding-bottom: 15px;
    }

    .block {
        flex-direction: column-reverse;
    }

    .accomodations {
        margin-right: 0;
    }

    .trends {
        margin-bottom: 20px;
    }

}

/* @media (max-width: 768px) {
} */